<div style="width: 100%; text-align: center;">
    <h1 mat-dialog-title>{{flag == 'add' ? 'Dodaj' : flag == 'update' ? 'Izmeni' : 'Obriši'}} preduzece</h1>
</div>

<form mat-dialog-content #formControl='ngForm'>
    <mat-form-field appearance='outline' style="width: 100%">
        <mat-label>Naziv</mat-label>
        <input matInput required name="naziv" [(ngModel)]="dataDialog.naziv" [disabled]="flag === 'delete'">
    </mat-form-field>
    <mat-form-field appearance='outline' style="width: calc(100% / 3 * 2 - 10px); margin-right: 10px;">
        <mat-label>Sedište</mat-label>
        <input matInput required name="sediste" [(ngModel)]="dataDialog.sediste" [disabled]="flag === 'delete'">
    </mat-form-field>
    <mat-form-field appearance='outline' style="width: calc(100% / 3);">
        <mat-label>PIB</mat-label>
        <input matInput type="number" required name="pib" [(ngModel)]="dataDialog.pib" [disabled]="flag === 'delete'">
    </mat-form-field>
    <mat-form-field appearance='outline' style="width: 100%;">
        <mat-label>Opis</mat-label>
            <textarea matInput [(ngModel)]="dataDialog.opis" name="opis" [disabled]="flag === 'delete'"></textarea>
    </mat-form-field>
</form>

<div mat-dialog-actions [align]="'end'">
    <button mat-button [disabled]="formControl.invalid" (click)='submit()'>{{flag === 'delete' ? 'Obriši' : 'Sačuvaj'}}</button>
    <button mat-button mat-dialog-close>Poništi</button>
</div>